.headerStyle{
    position: relative;
    overflow: hidden;
    background-color:white ;
    border: 2px solid;
    border-color:#9F678C ;
    border-radius: 50px;
    text-align: center;
    margin-top: 20px;
    margin-left: 350px;
    margin-right: 50px;
    line-height: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #666666;
    z-index: 1;
}

.imageStyle{
  position: absolute;
  top: -30px;
  right: -15px;
  height: auto;
  z-index: 2;
}

.bottomImage{
    position: absolute;
    bottom: 0px;
    right: -50px;
    height: 300px;
    z-index: -1;
}


  